.nav{
    background:linear-gradient(120deg, rgb(1, 49, 85), rgb(2, 94, 165));
    position: absolute;
    left: 0px;
    min-height: 90vh;
    border-radius: 0 15px 15px 0;
    padding: 10px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.navOpen{
    width: 70px;

}